html,
body {
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.uppercase-input {
    text-transform: uppercase;
}

.md-form .input-prefix {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    color: rgba(0, 0, 0, 0.87);
    pointer-events: none;
}

.md-form .input-prefix.active {
    color: #4285f4;
}

.md-form.input-with-pre-icon label {
    left: 36px;
    right: initial;
}

.md-form.input-with-pre-icon .input-prefix {
    left: 16px;
    right: initial;
}

.md-form.input-with-pre-icon .form-control {
    padding-left: 2.7rem !important;
}

.md-form.input-with-post-icon .input-prefix {
    right: 16px;
    left: initial;
}

.md-form.input-with-post-icon .form-control {
    padding-right: 2.7rem !important;
}

.md-form.input-with-post-icon.input-with-pre-icon .input-prefix {
    right: 16px;
    left: initial;
}

.md-form.input-with-post-icon.input-with-pre-icon .input-prefix:first-of-type {
    left: 16px;
    right: initial;
}

.md-form.input-with-post-icon.input-with-pre-icon .form-control {
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
}
